@font-face {
	font-family: "Roboto Regular";
    font-style: normal;
    font-weight: 400;
	src: url("../font/roboto-regular.eot");
	src: 
        local("Roboto Regular"),
        url("../font/roboto-regular.eot?#iefix") format("embedded-opentype"),      
        url("../font/roboto-regular.woff2") format("woff2"), 
        url("../font/roboto-regular.woff") format("woff"), 
        url("../font/roboto-regular.ttf")  format("truetype"), 
        url("../font/roboto-regular.svg#roboto-regular") format("svg"); 
}

@font-face {
	font-family: "Roboto Medium";
    font-style: normal;
    font-weight: 500;
	src: url("../font/roboto-medium.eot");
	src: 
        local("Roboto Medium"),
        url("../font/roboto-medium.eot?#iefix") format("embedded-opentype"),      
        url("../font/roboto-medium.woff2") format("woff2"), 
        url("../font/roboto-medium.woff") format("woff"), 
        url("../font/roboto-medium.ttf")  format("truetype"), 
        url("../font/roboto-medium.svg#roboto-medium") format("svg"); 
}

@font-face {
	font-family: "Roboto Bold";
    font-style: normal;
    font-weight: 700;
	src: url("../font/roboto-bold.eot");
	src: 
        local("Roboto Bold"),
        url("../font/roboto-bold.eot?#iefix") format("embedded-opentype"),      
        url("../font/roboto-bold.woff2") format("woff2"), 
        url("../font/roboto-bold.woff") format("woff"), 
        url("../font/roboto-bold.ttf")  format("truetype"), 
        url("../font/roboto-bold.svg#roboto-bold") format("svg"); 
}

@font-face {
	font-family: "Roboto Black";
    font-style: normal;
    font-weight: 900;
	src: url("../font/roboto-black.eot");
	src: 
        local("Roboto Black"),
        url("../font/roboto-black.eot?#iefix") format("embedded-opentype"),      
        url("../font/roboto-black.woff2") format("woff2"), 
        url("../font/roboto-black.woff") format("woff"), 
        url("../font/roboto-black.ttf")  format("truetype"), 
        url("../font/roboto-black.svg#roboto-black") format("svg"); 
}

@-webkit-keyframes shake {
    0%, 100% { -webkit-transform: translateX(0); transform: translateX(0); }
    10%, 30%, 50%, 70%, 90% { -webkit-transform: translateX(-10px); transform: translateX(-10px); }
    20%, 40%, 60%, 80% { -webkit-transform: translateX(10px); transform: translateX(10px); } 
}

@keyframes shake {
    0%, 100% { -webkit-transform: translateX(0); transform: translateX(0); }
    10%, 30%, 50%, 70%, 90% { -webkit-transform: translateX(-10px); transform: translateX(-10px); }
    20%, 40%, 60%, 80% { -webkit-transform: translateX(10px); transform: translateX(10px); } 
}

body {   
    margin: 0;
    padding: 0;
    font-family: "Roboto Regular", "Arial", sans-serif;    
    font-size: 14px;
    color: #ffffff;    
    background-color: #000000;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.wrapper {
    width: auto;
    min-width: 900px;
    max-width: 1200px;
    margin: 0 auto;
    background: #849d8f url(../img/bg__1.png) no-repeat center top;
}

.container {
    margin: 0 2%;
}

.main-header {
    min-height: 120px;
    margin-bottom: 275px;
    color: #ffffff;
}

.main-header__navigation {
    float: left;
    width: 590px;    
}

.main-header__navigation-logo {
    float: left;
    width: 154px;
    height: 64px;
    margin: 10px 15px 0 0;
}

.main-header__navigation-logo img {
    width: 154px;
    height: 64px;    
}

.main-header__navigation-menu {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 0;
}

.main-header__navigation-menu > li {
    position: relative;
    display: inline-block;
    font-family: "Roboto Bold", "Arial", sans-serif;
    font-size: 16px;
    vertical-align: top;
}

.main-header__navigation-menu a {
    display: block;
    margin: 30px 15px;
    color: #ffffff;
    text-decoration: none;
    border-bottom: 2px solid rgba(255, 255, 255, 0.4);
}

.main-header__navigation-menu a:hover {
    margin: 20px 0 30px;
    padding: 10px 15px;
    color: #000000;
    border-radius: 25px;
    background-color: #ffffff;
}

.main-header__navigation-menu a:active {
    box-shadow: inset 0 3px 3px 0 #808080;
}

.main-header__navigation-menu > li:hover .main-header__navigation-sub-menu {
    display: block;
}

.main-header__navigation-sub-menu {
    position: absolute;
    top: 65px;
    left: -8px;
    display: none;
    width: 145px;
    margin: 0;
    padding: 0;
    list-style: none;
    border-radius: 5px;
    background-color: #ffffff;
}

.main-header__navigation-sub-menu li {
    font-family: "Roboto Regular", "Arial", sans-serif;
    font-size: 14px;
}

.main-header__navigation-sub-menu li:first-child {
    font-family: "Roboto Bold", "Arial", sans-serif;
    border-bottom: 2px solid rgba(0, 0, 0, 0.2);
}

.main-header__navigation-sub-menu a {
    margin: 0;
    margin-left: 22px;
    padding: 10px 0;    
    color: #000000;
    border-bottom: none;
}

.main-header__navigation-sub-menu a:hover {
    margin: 0;
    padding-left: 22px;
    border-radius: 0;
    background-color: #fbded7;
}

.main-header__navigation-sub-menu a:active {
    background-color: #f6b5a5;
}

.main-header__navigation-sub-menu .main-header__navigation-active {
    background-color: #d07058;
}

.main-header__user-block {
    float: right;
    max-width: 270px;
    margin: 20px 0;
    font-size: 0;
}

.main-header__user-block-search,
.main-header__user-block-login,
.main-header__user-block-cart {
    position: relative;
    display: inline-block;
    font-family: "Roboto Medium", "Arial", sans-serif;
    font-size: 14px;
    vertical-align: top;
    color: #ffffff;
    text-decoration: none;
    border-radius: 25px;
    background-color: rgba(255, 255, 255, 0.2);
}

.main-header__user-block-search {
    display: inline-block;
    width: 35px;
    height: 35px;    
    margin-right: 10px;
    border-radius: 50%;
    vertical-align: top;
}

.main-header__user-block-search:hover,
.main-header__user-block-login:hover,
.main-header__user-block-cart:hover {
    color: #000000;
    background-color: #ffffff;
}

.main-header__user-block-search::before {
    content: "";
    position: absolute;
    top: 9px;
    left: 10px;
    width: 17px;
    height: 17px;
    background: url("../img/sprite.png") no-repeat -567px -10px;    
}

.main-header__user-block-search:hover::before {
    background-position: -604px -10px;  
}

.main-header__user-block-login {
    display: inline-block;
    margin-right: 10px;
    padding: 10px 15px 10px 45px;
    vertical-align: top;
}

.main-header__user-block-login::before {
    content: "";
    position: absolute;
    top: 9px;
    left: 15px;
    width: 21px;
    height: 19px;
    background: url("../img/sprite.png") no-repeat -485px -10px;    
}

.main-header__user-block-login:hover::before {    
    background-position: -526px -10px;
}

.main-header__user-block-cart {
    display: inline-block;
    position: relative;
    padding: 10px 35px 10px 45px;
    vertical-align: top;
}

.main-header__user-block-cart::before {
    content: "";
    position: absolute;
    top: 10px;
    left: 15px;
    width: 21px;
    height: 20px;
    background: url("../img/sprite.png") no-repeat -284px -10px;
    
}

.main-header__user-block-cart:hover::before {
    background-position: -325px -10px;
}

.main-header__working-hours {
    float: right;
    width: 30%;
    text-align: right;
}

.main-header__working-hours-time {
    margin: 0;
    font-family: "Roboto Bold", "Arial", sans-serif;
    font-size: 14px;
}

.main-header__working-hours-phone {
    margin: 0;
    font-family: "Roboto Black", "Arial", sans-serif;
    font-size: 22px;
}

.btn {
    display: inline-block;
    padding: 15px 20px;
    
    font-family: "Roboto Bold", "Arial", sans-serif;
    font-size: 18px;
    font-weight: 700;
    vertical-align: top;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
    
    background-image: -webkit-linear-gradient(#f26843, #e74a35);
    
    background-image: linear-gradient(#f26843, #e74a35);
    border: none;
    border-radius: 25px;
    box-shadow: 0 2px 2px 0 rgba(172, 16, 0, 0.6);
    outline: none;
    cursor: pointer;
}

.btn:hover {
    background-image: -webkit-linear-gradient(#f58569, #ec6f5e);
    background-image: linear-gradient(#f58569, #ec6f5e);
}

.btn:active {
    background-image: -webkit-linear-gradient(#d84732, #e1603e);
    background-image: linear-gradient(#d84732, #e1603e);
}

.headline {
    position: relative;
    margin-bottom: 35px;
}

.headline__header {    
    display: block;
    width: 680px;
    margin: 0 auto 30px auto;
    font-family: "Roboto Black", "Arial", sans-serif;
    font-size: 60px;
    line-height: 60px;
    text-align: center;
}

.headline .btn {
    display: block;
    width: 280px;
    margin: 0 auto;
    padding: 20px 0;
    font-size: 32px;
    border-radius: 50px;
}

.headline__slider {
    position: absolute;
    bottom: 25px;
    font-size: 0;
}

.headline__slider input[type="radio"] {
    display: none;
}

.headline__slider-controls label {
    display: inline-block;
    width: 20px;
    height: 20px; 
    margin-right: 5px;
    background-color: transparent;
    border: 3px solid #ffffff;
    border-radius: 50%;
    cursor: pointer;
    vertical-align: top;
}

.headline__slider-controls label:hover {
    background-color: rgba(255, 255, 255, 0.4);
}

#btn-1:checked ~ .headline__slider-controls label[for="btn-1"],
#btn-2:checked ~ .headline__slider-controls label[for="btn-2"],
#btn-3:checked ~ .headline__slider-controls label[for="btn-3"] {
    background-color: #ffffff;
}

.special-offers {
    margin-bottom: 40px;    
    font-family: "Roboto Bold", "Arial", sans-serif;
    color: #ffffff;
}

.special-offers__item {
    float: left;
    width: 44%;
    padding: 20px;
    border-radius: 15px;
}

.special-offers__item:first-child {
    margin-right: 20px;
    background: #c01d45 url("../img/bg__special-offers-item-1.jpg") no-repeat;
    background-size: cover;
}

.special-offers__item:last-child {
    float: right;
    background: #552f1a url("../img/bg__special-offers-item-2.jpg") no-repeat;
    background-size: cover;
}

.special-offers__item-header {
    margin: 0;    
    font-size: 35px;
}

.special-offers__item-sentence {
font-size: 17px;
    line-height: 1.4;
}

.special-offers__item .btn {
    float: right;
}

.ice-cream {
    margin-bottom: 40px;    
}

.ice-cream__item {
    position: relative;
    float: left;
    width: 24%;
    text-align: center;
}

.ice-cream__item:first-child {
    margin-left: 3%;
}

.ice-cream__item:last-child {
    margin-right: 0;
}

.ice-cream__item::before {
    content: "";
    position: absolute;
    width: 61px;
    height: 61px;
    background-image: url("../img/icon__ice-cream.png");
}

.ice-cream__item img {
    width: 200px;
    height: 200px;
    margin-bottom: 15px;
}

.ice-cream__item-price {
    position: absolute;
    top: 90px;
    font-family: "Roboto Bold", "Arial", sans-serif;
    font-size: 45px;
}

.ice-cream__item-price-kg {
    font-size: 30px;
}

.ice-cream__item-description {
    display: block;
    padding: 0 8px;
    color: #ffffff;
    font-family: "Roboto Medium", "Arial", sans-serif;
    font-size: 16px;
    line-height: 24px;
    text-decoration: none;
}

.ice-cream__item-description:hover {
    text-decoration: underline;
}

.about {
    margin-bottom: 40px; 
    padding: 25px 20px 0;
    color: #000000;
    border-radius: 15px;
    background: #eadcbe url("../img/bg__about.png");
}

.about__header {
    margin: 0;
    margin-bottom: 30px;
    font-family: "Roboto Medium", "Arial", sans-serif;
    font-size: 24px;
}

.about__sentence {
    margin: 0;
    font-family: "Roboto Regular", "Arial", sans-serif;
    font-size: 16px;
}

.about__content-1,
.about__content-2,
.about__content-3,
.about__content-4 {
    position: relative;
    float: left;
    width: 42%;
    margin-bottom: 30px;
    padding-left: 55px;
}

.about__content-1,
.about__content-3 {
    float: right;
}

.about__content-1::before,
.about__content-2::before,
.about__content-3::before,
.about__content-4::before {
    content: "";
    position: absolute;
    top: -15px;
    left: 0;
    width: 49px;
    height: 49px;
    background-image: url("../img/sprite.png");
}
.about__content-1::before {    
    background-position: -79px -10px;
}

.about__content-2::before {    
    background-position: -10px -10px;
}

.about__content-3::before {    
    background-position: -216px -10px;
}

.about__content-4::before {    
    background-position: -147px -10px;
}

.blog-and-email {
    margin-bottom: 40px;
    color: #000000;
}

.blog-and-email__blog-content {
    float: left;
    width: 43.5%;
    min-height: 160px;
    margin-right: 20px;
    padding: 30px 20px;
    border-radius: 15px;
    background: url(../img/bg__blog-content.png) no-repeat;
    background-size: cover;
}

.blog-and-email__blog-sentence {
    margin: 0;
    margin-bottom: 15px;    
    color: #5a5a5a;
    font-family: "Roboto Medium", "Arial", sans-serif;
    font-size: 16px;
}

.blog-and-email__blog-link {
    display: block;
    width: 285px;
    color: #353535;
    font-family: "Roboto Bold", "Arial", sans-serif;
    font-size: 24px;  
}

.blog-and-email__email-content {
    float: right;
    width: 43.5%;
    min-height: 140px;
    padding: 40px 25px;
    border-radius: 15px;
    background: url(../img/bg__email-content.png) no-repeat; 
    background-size: 100% 220px;
}

.blog-and-email__email-sentence {    
    margin: 0;
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 22px;
    color: #5a5a5a;
}

.blog-and-email__email-content input {
    width: 55%;
    margin-right: 10px;
    padding: 15px 10px;
}

.map {
    position: relative;
    width: 100%;
    min-height: 430px;    
    background: #f7f1d9 url(../img/bg__map.png) no-repeat;
}

.map::after {
    content: "";
    position: absolute;
    top: 138px;
    left: 265px;
    width: 218px;
    height: 142px;
    background-image: url("../img/icon__map.png");
}

.map__address {
    position: absolute;
    top: 65px;
    right: 20px;
    width: 255px;
    padding: 30px 25px;
    color: #000000;
    border-radius: 15px;
    background-color: #ffffff;
}

.map__address-sentence {
    margin: 0;
    margin-bottom: 25px;
    font-family: "Roboto Regular", "Arial", sans-serif;
    font-size: 14px;      
}

.map__address-sentence--bold {
    font-family: "Roboto Bold", "Arial", sans-serif;
    font-size: 18px;
    line-height: 28px;
}

.map__address .btn {
    padding: 15px 34px;
    font-size: 17px;
}

.main-footer {
    padding: 20px 0 25px;
}

.main-footer__social {
    float: left;
    width: 25%;  
    margin: 10px 10% 0 0;   
    font-size: 0;
}

.main-footer__social-btn {
    display: inline-block;
    width: 32px;
    height: 32px;
    margin-right: 10px;    
    vertical-align: top;
    text-decoration: none;
    border: 3px solid #c2cec7;
    border-radius: 50%;
    background: #e6ebe9 url("../img/sprite.png") no-repeat;    
}

.main-footer__social-btn:hover {
    background-color: #fdfdfd;
}

.main-footer__social-btn:active {
    box-shadow: inset 0 2px 2px 0 #808080;
}

.main-footer__social-btn:last-child {
    margin-right: 0;
}

.main-footer__social-btn--tw {
    background-position: -634px -3px;
}

.main-footer__social-btn--inst {
    background-position: -437px -6px;
}

.main-footer__social-btn--fb {
    background-position: -360px -3px;
}

.main-footer__social-btn--vk {
    background-position: -675px -5px;
}

.main-footer__info {
    float: left;
    width: 30%;
    margin-top: 10px;
    font-size: 0;
}

.main-footer__info-link {
    display: inline-block;
    width: 50%;
    margin-bottom: 10px;
    color: #ffffff;
    font-family: "Roboto Regular", "Arial", sans-serif;
    font-size: 13px;
    vertical-align: top;    
}

.main-footer__info-link:hover,
.main-footer__info-link:active {
    color: #ffbc9e;
    border-bottom-color: rgba(255, 188, 158, 0.4);
}

.main-footer__info-link:first-child {
    position: relative;
    font-family: "Roboto Bold", "Arial", sans-serif;
}

.main-footer__info-link:first-child::before {
    content: "";
    position: absolute;
    top: 1px;
    left: -22px;
    width: 15px;
    height: 13px;
    background: url("../img/sprite.png") no-repeat -405px -10px;
}

.main-footer__copyright {
    float: right;
    max-width: 25%;
}

.main-footer__copyright-logo {
    width: 108px;
    height: 38px;
    margin-bottom: 5px;
}

.main-footer__copyright-sentence {
    margin: 0;
    font-family: "Roboto Regular", "Arial", sans-serif;
    font-size: 12px;
}

.main-footer__copyright-link{
    color: #ffffff;
    text-decoration: none;
    border-bottom: 2px solid rgba(255, 255, 255, 0.4);
}

.main-footer__copyright-link:hover,
.main-footer__copyright-link:active {
    color: #ffbc9e;
    border-bottom-color: rgba(255, 188, 158, 0.4);
}

.modal-search {
    position: absolute;
    top: 65px;
    left: 60%;
    display: none;
    width: 310px;
    height: 40px;
    margin-left: -140px;
    padding: 15px;    
    border-radius: 5px;
    background-color: #f8f7f4;
}

.modal-search input {
    width: 310px;
    padding: 10px;
    font-family: "Roboto Regular", "Arial", sans-serif;
    font-size: 14px;
    color: #000000;
    border-radius: 5px;
    border: 1px solid #c0c0c0;
    outline: none;
}

.modal-login {
    position: absolute;
    top: 65px;
    left: 60%;
    display: none;
    width: 240px;
    height: 145px;
    margin-left: 32px;
    padding: 20px 15px;    
    border-radius: 5px;
    background-color: #f8f7f4;
}

.modal-login input {
    width: 220px;
    padding: 10px;
    font-family: "Roboto Regular", "Arial", sans-serif;
    font-size: 14px;
    color: #000000;
    border-radius: 5px;
    border: 1px solid #c0c0c0;
    outline: none;
}

.modal-login input[type="email"] {
    margin-bottom: 10px;
}

.modal-login input[type="password"] {
    margin-bottom: 15px;
}

.modal-login .btn {
    float: left;    
    width: 105px;
    margin-right: 15px;
    font-size: 15px;
}

.modal-login a {
    display: inline-block;
    vertical-align: top;
    margin-bottom: 10px;
    font-family: "Roboto Regular", "Arial", sans-serif;
    font-size: 13px;  
    color: #000000;
    text-decoration: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.modal-feedback {
    position: fixed;
    top: 200px; 
    left: 50%;
    z-index: 2;
    display: none;
    width: 425px;
    height: 400px;
    margin-left: -235px;
    padding: 20px 25px;
    color: #000000;
    border-radius: 10px;
    background-color: #f8f7f4;    
}

.modal-feedback__close,
.modal-login__close,
.modal-search__close {
    position: absolute;
    top: 15px;
    right: 20px;
    width: 17px;
    height: 17px;
    font-size: 0;
    background-color: transparent;
    border: none;
    outline: 0;
    cursor: pointer;
}

.modal-feedback__close::before,
.modal-feedback__close::after,
.modal-login__close::before,
.modal-login__close::after,
.modal-search__close::before,
.modal-search__close::after {
    content: "";
    position: absolute;
    top: 6px;
    width: 20px;
    height: 2px;
    background-color: #000;
    border-radius: 1px;
}

.modal-feedback__close::before,
.modal-login__close::before,
.modal-search__close::before {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
}

.modal-feedback__close::after,
.modal-login__close::after,
.modal-search__close::after {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
}

.modal-login__close::before,
.modal-login__close::after {
    top: -8px;
    right: -42px;
}

.modal-search__close {
    top: 0;
    right: -10px;
}

.modal-feedback h2 {
    margin: 0;
    margin-bottom: 25px;
    font-family: "Roboto Medium", "Arial", sans-serif;
    font-size: 24px;    
}

.modal-feedback input {
    width: 230px;
    margin: 0;
    margin-bottom: 20px;
    padding: 15px 20px;
    font-family: "Roboto Regular", "Arial", sans-serif;
    font-size: 16px;
    color: #000000;
    border-radius: 5px;   
    border: 1px solid #c0c0c0;
    outline: none;
}

.modal-feedback textarea {
    width: 385px;
    margin-bottom: 25px;
    padding: 15px 20px;
    font-family: "Roboto Regular", "Arial", sans-serif;
    font-size: 16px;
    color: #000000;
    border-radius: 5px;   
    border: 1px solid #c0c0c0;
    outline: none;
    resize: none;
}

.modal-feedback input:hover,
.modal-feedback textarea:hover {
    padding: 14px 19px;
    border: 2px solid rgba(154, 154, 154, 0.5);
} 

.modal-feedback input:focus,
.modal-feedback textarea:focus {
    padding: 14px 19px;
    border: 2px solid rgba(46, 136, 228, 0.5);
} 

.modal-feedback .btn {
    float: right;
}

.modal-search-show,
.modal-login-show,
.modal-feedback-show {
    display: block;
}

.modal-error {
    -webkit-animation: shake 0.6s;
            animation: shake 0.6s;
}